<launch>
    <node pkg="lane_follower" type="lane_detect_v2.py" name="lane_detect_node" output="screen">
        <!-- The camera image topic to subscribe to -->
        <param name="image_topic" value="/dev/video0" />
        
        <!-- The lane detection results topic to publish to (LaneData message) -->
        <param name="pub_topic" value="lane_detect" />
        
        <!-- The debug image topic to publish to -->
        <param name="debug_topic" value="lane_detect/image_out" />
        
        <!-- Open local GUI window to show the detection result -->
        <param name="show_window" value="false" />
    </node>
</launch>
