<?xml version="1.0"?>
<launch>
    <!-- Start rosserial_python node for Arduino Mega -->
    <node pkg="rosserial_python" type="serial_node.py" name="arduino_mega_serial_node" output="screen">
        <param name="port" value="/dev/ttyUSB1"/>
        <param name="baud" value="115200"/>
    </node>

    <node name="move_straight_5s"
        pkg="arduino_mega_ctrl"
        type="move_straight_5s.py"
        output="screen"
    />
</launch>