# Set the udev rule , make the device_port be fixed by rplidar
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="168a262d5113ec11aa3ffbef7a109228", MODE:="0666", SYMLINK+="rplidar_a1"

